*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
.container > img{
margin-right: 20px;
}

.carousel-item img {
    /* height: auto; */
    max-height: 500px; 
    object-fit: cover; 
  }